<div class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-sm p-4 bg-white border border-custom-200 rounded-lg shadow-lg sm:p-6 md:p-8">
        <div class="flex justify-center mb-4">
            <img src="images/logo.png" [alt]="Messages.Alts.logoAlt" class="w-20 h-20">
        </div>

        <!-- Send Confirmation Code -->
        <form class="space-y-6" *ngIf="step === 'phone'">
            <h5 class="text-xl font-medium text-gray-900">
                {{ Messages.Headers.signup }}
            </h5>

            <label for="phone-number" class="block mb-2 text-sm font-small text-gray-900">
                {{ Messages.Labels.enterPhoneNumber }}
            </label>

            <div class="relative">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-custom-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M2.003 5.884a1 1 0 0 1 .117-1.405l2.223-1.928a1 1 0 0 1 1.43.11l1.64 1.966a1 1 0 0 1-.068 1.35l-.979.98a13.042 13.042 0 0 0 5.293 5.293l.98-.98a1 1 0 0 1 1.35-.068l1.966 1.64a1 1 0 0 1 .11 1.43l-1.928 2.223a1 1 0 0 1-1.405.117 15.978 15.978 0 0 1-9.729-9.729Z" />
                        </svg>
                    </div>

                    <input type="tel" id="phone-number" [(ngModel)]="signupData.phoneNumber" name="phoneNumber"
                        class="bg-gray-50 border border-custom-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full ps-10 p-2.5 mt-6"
                        placeholder="09123456789">
                </div>

                <div *ngIf="phoneInvalid" class="text-red-600 text-sm mt-1">
                    {{Messages.Errors.invalidPhoneNumber}}
                </div>
            </div>

            <app-loading-button [loading$]="loadingService.loading$" label="{{ Messages.Buttons.sendCode }}"
                (click)="sendSignupCode()"></app-loading-button>
        </form>
        <!-- End Send Confirmation Code -->

        <!-- Validate Confirmation Code -->
        <form class="space-y-6" *ngIf="step === 'code'">
            <h5 class="text-xl font-medium text-gray-900">
                {{ Messages.Headers.enterConfirmationCode }}
            </h5>

            <label for="confirmation-code" class="block mb-2 text-sm font-small text-gray-900">
                {{ Messages.Labels.confirmationCodePart1}} {{signupData.phoneNumber}}
                {{Messages.Labels.confirmationCodePart2}}
            </label>

            <input type="text" id="confirmation-code" [(ngModel)]="signupData.code" name="code" maxlength="6"
                class="bg-gray-50 border border-custom-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full p-2.5 mt-6 text-center mb-1"
                placeholder="">

            <div *ngIf="codeInvalid" class="text-red-600 text-sm">
                {{Messages.Errors.invalidValidationCode}}
            </div>

            <app-loading-button [loading$]="loadingService.loading$" label="{{ Messages.Buttons.confirm }}"
                (click)="confirmCode()"></app-loading-button>

            <div *ngIf="showResendButton">
                <button type="button" (click)="resendCode()"
                    class="w-full text-white bg-custom-700 hover:bg-custom-800 focus:ring-4 focus:outline-none focus:ring-custom-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer mt-3">
                    {{ Messages.Buttons.resendCode }}
                </button>
            </div>

            <p *ngIf="timer > 0" class="text-center mt-2 text-sm text-gray-500">
                {{ formatTime(timer) }} {{ Messages.Labels.timer }}
            </p>
        </form>
        <!-- End Validate Confirmation Code -->

        <!-- Validate Confirmation Code -->
        <form class="space-y-6" *ngIf="step === 'password'">
            <h5 class="text-xl font-medium text-gray-900">
                {{ Messages.Headers.setPassword }}
            </h5>

            <label for="password" class="block mb-2 text-sm font-small text-gray-900 mt-4">
                {{ Messages.Labels.setPasswordDesc}}
            </label>

            <input type="text" name="username" id="username" autocomplete="username" [value]="signupData.phoneNumber"
                hidden />

            <div class="relative mt-6 mb-1">
                <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                    [(ngModel)]="signupData.password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 text-center mb-1"
                    placeholder="•••••••••" autocomplete="new-password" required />

                <button type="button" (click)="togglePasswordVisibility()"
                    class="absolute inset-y-0 right-2 flex items-center text-gray-500" tabindex="-1">
                    <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 
                                 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7C7.523 19 3.732 
                                 16.057 2.458 12z" />
                    </svg>

                    <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 
                                 19c-4.477 0-8.268-2.943-9.542-7a9.98 
                                 9.98 0 012.982-4.568m1.5-1.5A9.956 
                                 9.956 0 0112 5c4.478 0 8.268 2.943 
                                 9.542 7a9.956 9.956 0 01-4.043 
                                 5.118M15 12a3 3 0 11-6 0 3 3 0 
                                 016 0zM3 3l18 18" />
                    </svg>
                </button>
            </div>

            <div *ngIf="passwordInvalid" class="text-red-600 text-sm">
                {{Messages.Errors.invalidPassword}}
            </div>

            <app-loading-button [loading$]="loadingService.loading$" label="{{ Messages.Buttons.confirm }}"
                (click)="setPassword()"></app-loading-button>
        </form>
        <!-- End Validate Confirmation Code -->
    </div>
</div>