<section class="relative mt-8 bg-white bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')]">

    <!-- Gradient Background -->
    <div class="absolute inset-0 bg-gradient-to-b from-custom-800 via-custom-400 to-transparent z-0"></div>

    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
        <h1 class="mb-8 text-4xl tracking-tight leading-none text-white md:text-3xl lg:text-4xl">
            سخت‌کوش: فرصتی برای رشد و حرفه‌ای شدن
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-100 lg:text-xl sm:px-14 lg:px-40">
            در سخت‌کوش، ما به افراد با استعداد و انگیزه آموزش برنامه‌نویسی می‌دهیم تا مهارت‌های خود را در پروژه‌های
            واقعی به کار بگیرند. این افراد ابتدا با انجام پروژه‌های عمومی و بدون استرس ارتباط با مشتری، تجربه کسب
            می‌کنند و پس از آن آماده‌اند تا در پروژه‌های اختصاصی با شما همکاری کنند. با اعتماد به این نیروی جوان، شما نه
            تنها کار باکیفیت دریافت می‌کنید، بلکه به رشد و موفقیت یک تازه‌کار کمک می‌کنید.
        </p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="#"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-custom-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300">
                اکانت خودتو بساز
            </a>
            <a href="#"
                class="py-3 px-5 sm:ms-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-custom-200 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">
                با ما گفتگو کن
            </a>
        </div>
    </div>
</section>