<nav class="bg-white border-gray-200 sticky top-0 z-50 shadow-sm">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a [routerLink]="['/']" class="flex items-center">
            <img [src]="baseUrl + '/uploads/utilities/logo.png'" class="h-6 lg:h-8 ml-3" alt="Hardworker Logo" />
            <span class="self-center text-lg sm:text-xl lg:text-2xl font-semibold whitespace-nowrap text-custom-900">
                {{Messages.Headers.hardworker}}
            </span>
        </a>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x relative">
            <span *ngIf="!jwtHelperService.isLoggedIn()" class="ml-1 sm:ml-3">
                <a [routerLink]="['/users/signup']"
                    class="py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-custom-600 md:p-0 text-sm md:text-md">
                    {{Messages.Headers.signup}} / {{Messages.Headers.login}}
                </a>
            </span>

            <button *ngIf="jwtHelperService.isLoggedIn()" type="button"
                class="cursor-pointer flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300"
                id="user-menu-button" aria-expanded="false" (click)="toggleDropdown()">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full bg-white"
                    [src]="userInfo.avatarImage && userInfo.avatarImage.trim() !== '' ? baseUrl + '/uploads/avatars/' + userInfo.avatarImage : baseUrl + '/uploads/utilities/avatar.png'"
                    alt="user photo">
            </button>

            <div *ngIf="jwtHelperService.isLoggedIn() && showDropdown"
                class="z-50 absolute top-full mt-2 left-0 min-w-fit w-auto whitespace-nowrap list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm"
                id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-custom-700 mb-2">
                        {{userInfo.firstName}} {{userInfo.lastName?? ''}}
                    </span>
                    <span
                        class="block text-sm truncate font-semibold text-custom-700">{{jwtHelperService.getUser()?.username}}</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a href="/dashboard"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-custom-200">{{Messages.Headers.profile}}</a>
                    </li>
                    <li>
                        <a (click)="logout()"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-custom-200">{{Messages.Headers.logout}}</a>
                    </li>
                </ul>
            </div>

            <button type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                (click)="toggleNavbar()">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>
        <div id="navbar-user" [ngClass]="{
            'fixed top-0 right-0 h-full w-64 bg-white shadow-lg transform transition-transform duration-300 z-40': true,
            'translate-x-0': isNavbarOpen,
            'translate-x-full': !isNavbarOpen,
            'md:static md:flex md:translate-x-0 md:shadow-none md:w-auto md:h-auto md:bg-transparent': true
        }" class="items-center justify-between md:order-1 text-sm md:text-md">
            <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:mt-0 md:border-0 md:bg-white">
                <li class="md:mr-6 lg:mr-8 mb-4 md:mb-0">
                    <a [routerLink]="['/']"
                        class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-custom-700 md:p-0"
                        aria-current="page">
                        {{Messages.Headers.home}}
                    </a>
                </li>
                <li class="md:mr-6 lg:mr-8 mb-4 md:mb-0">
                    <a [routerLink]="['/']" fragment="courses"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-custom-600 md:p-0">
                        {{Messages.Headers.courses}}
                    </a>
                </li>
                <li class="md:mr-6 lg:mr-8 mb-4 md:mb-0">
                    <a [routerLink]="['/testimonials']"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-custom-600 md:p-0">
                        {{Messages.Headers.students}}
                    </a>
                </li>
                <li class="md:mr-6 lg:mr-8 mb-4 md:mb-0">
                    <a [routerLink]="['/projects']"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-custom-600 md:p-0">
                        {{Messages.Headers.studentProjects}}
                    </a>
                </li>
                <li class="md:mr-6 lg:mr-8 mb-4 md:mb-0">
                    <a [routerLink]="['/']" fragment="order-project"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-custom-600 md:p-0">
                        {{Messages.Headers.order}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>