<div class="w-3/4 mx-auto mt-16 grid grid-cols-1 md:grid-cols-3 gap-6 gap-y-12 items-stretch">
    <div *ngFor="let testimonial of testimonialsList"
        class="border border-gray-200 rounded-lg shadow-md shadow-custom-400 bg-custom-300 flex flex-col">
        <div class="relative flex-grow flex flex-col">
            <!-- Quote icon (top-right corner) -->
            <img [src]="baseUrl + '/uploads/utilities/quote-sign.jpg'" alt="quote icon"
                class="absolute -top-5 right-5 w-12 h-12 opacity-100 z-10 rounded-lg" />

            <figure
                class="flex flex-col items-center justify-center p-8 text-center bg-custom-300 rounded-t-lg flex-grow z-0">
                <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500">
                    <p class="my-4">{{ testimonial.commentText }}</p>
                </blockquote>
                <figcaption class="flex items-center justify-center">
                    <img class="rounded-full w-9 h-9"
                        [src]="testimonial.avatarImage ? baseUrl + '/uploads/avatars/' + testimonial.avatarImage : baseUrl + '/uploads/utilities/avatar.png'"
                        alt="profile picture">
                    <div *ngIf="testimonial.firstName || testimonial.lastName"
                        class="space-y-0.5 font-medium text-left rtl:text-right ms-3">
                        <div>{{ testimonial.firstName }} {{ testimonial.lastName }}</div>
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
</div>