<h1 class="text-xl lg:text-2xl font-bold mb-6">{{isAddMode ? Messages.Headers.addCourse :Messages.Headers.editCourse}}
</h1>


<form [formGroup]="courseForm" (ngSubmit)="AddOrEditCourse()" class="mx-auto p-6 bg-white rounded shadow">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <!-- ID (readonly) -->
        <div>
            <label class="block mb-1 font-semibold text-gray-700">{{Messages.TableHeaders.id}}</label>
            <input formControlName="id" type="number" readonly
                class="border rounded px-3 py-2 w-full bg-gray-100 cursor-not-allowed">
        </div>

        <!-- Date Created (readonly) -->
        <div>
            <label class="block mb-1 font-semibold text-gray-700">{{Messages.Labels.dateCreated}}</label>
            <input [value]="courseForm.get('dateCreated')?.value | jalaliDate" type="text" readonly
                class="border rounded px-3 py-2 w-full bg-gray-100 cursor-not-allowed">
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <!-- Title -->
        <div>
            <label class="block mb-1 font-semibold text-gray-700">{{Messages.TableHeaders.title}}</label>
            <input formControlName="title" class="border rounded px-3 py-2 w-full"
                [class.border-red-500]="courseForm.get('title')?.invalid && courseForm.get('title')?.touched">
            <div *ngIf="courseForm.get('title')?.invalid && courseForm.get('title')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.titleIsRequired}}
            </div>
        </div>

        <!-- Description -->
        <div>
            <label class="block mb-1 font-semibold text-gray-700">{{Messages.Headers.courseDescription}}</label>
            <textarea formControlName="description" class="border rounded px-3 py-2 w-full" rows="4"
                [class.border-red-500]="courseForm.get('description')?.invalid && courseForm.get('description')?.touched"></textarea>
            <div *ngIf="courseForm.get('description')?.invalid && courseForm.get('description')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.descriptionIsRequired}}
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <!-- Full Description -->
        <div>
            <label class="block mb-1 font-semibold text-gray-700">{{Messages.Headers.courseFullDescription}}</label>
            <textarea formControlName="fullDescription" class="border rounded px-3 py-2 w-full" rows="4"
                [class.border-red-500]="courseForm.get('fullDescription')?.invalid && courseForm.get('fullDescription')?.touched"></textarea>
            <div *ngIf="courseForm.get('fullDescription')?.invalid && courseForm.get('fullDescription')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.fullDescriptionIsRequired}}
            </div>
        </div>

        <!-- Syllabus -->
        <div>
            <label class="block mb-1 font-semibold text-gray-700">{{Messages.Headers.syllabus}}</label>
            <quill-editor formControlName="syllabus" [style]="{height: '200px'}" dir="ltr"
                [class.border-red-500]="courseForm.get('syllabus')?.invalid && courseForm.get('syllabus')?.touched">
            </quill-editor>
            <div *ngIf="courseForm.get('syllabus')?.invalid && courseForm.get('syllabus')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.syllabusIsRequired}}
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <!-- Course Session Number -->
        <div>
            <label for="price" class="block mb-1 font-semibold text-gray-700">
                {{Messages.Labels.courseSessionNumber}}
            </label>
            <input type="number" formControlName="courseSessionNumber" class="border rounded px-3 py-2 w-full" dir="ltr"
                [class.border-red-500]="courseForm.get('courseSessionNumber')?.invalid && courseForm.get('courseSessionNumber')?.touched">
            <div *ngIf="courseForm.get('courseSessionNumber')?.invalid && courseForm.get('courseSessionNumber')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.courseSessionNumberIsRequired}}
            </div>
        </div>

        <!-- Course Duration -->
        <div>
            <label class="block mb-1 font-semibold text-gray-700">{{Messages.Labels.courseDurationInHours}}</label>
            <input type="number" formControlName="courseDurationInHours" class="border rounded px-3 py-2 w-full"
                dir="ltr"
                [class.border-red-500]="courseForm.get('courseDurationInHours')?.invalid && courseForm.get('courseDurationInHours')?.touched">
            <div *ngIf="courseForm.get('courseDurationInHours')?.invalid && courseForm.get('courseDurationInHours')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.courseDurationInHoursIsRequired}}
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <!-- Price -->
        <div>
            <label for="price" class="block mb-1 font-semibold text-gray-700">
                {{Messages.TableHeaders.price}}
            </label>
            <input type="text" hwAmount formControlName="price" class="w-full border rounded px-3 py-2"
                [class.border-red-500]="courseForm.get('price')?.invalid && courseForm.get('price')?.touched" dir="ltr">
            <div *ngIf="courseForm.get('price')?.invalid && courseForm.get('price')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.priceIsRequired}}
            </div>
        </div>

        <!-- SpotPlayer Id -->
        <div>
            <label class="block mb-1 font-semibold text-gray-700">{{Messages.Headers.spotPlayerProductId}}</label>
            <input type="text" formControlName="spotPlayerProductId" class="w-full border rounded px-3 py-2"
                [class.border-red-500]="courseForm.get('spotPlayerProductId')?.invalid && courseForm.get('spotPlayerProductId')?.touched"
                dir="ltr">
            <div *ngIf="courseForm.get('spotPlayerProductId')?.invalid && courseForm.get('spotPlayerProductId')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.spotPlayerProductIdIsRequired}}
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <!-- Status -->
        <div>
            <label for="courseStatus" class="text-sm block mb-1">{{Messages.TableHeaders.status}}</label>
            <select formControlName="courseStatus" class="w-full border rounded px-3 py-2">
                <option [value]="0">{{Messages.Headers.comingSoon}}</option>
                <option [value]="1">{{Messages.Headers.InProgress}}</option>
                <option [value]="2">{{Messages.Headers.completed}}</option>
            </select>
        </div>

        <!-- Is Purchasable -->
        <label class="inline-flex items-center">
            <input type="checkbox" formControlName="isPurchasable" class="form-checkbox h-5 w-5 text-blue-600" />
            <span class="mr-2 text-gray-700 font-medium">
                {{ Messages.Labels.isPurchasable }}
            </span>
        </label>

        <!-- Show Order -->
        <div>
            <label for="price" class="block mb-1 font-semibold text-gray-700">
                {{Messages.TableHeaders.showOrder}}
            </label>
            <input type="number" formControlName="showOrder" class="border rounded px-3 py-2 w-full" dir="ltr"
                [class.border-red-500]="courseForm.get('showOrder')?.invalid && courseForm.get('showOrder')?.touched">
            <div *ngIf="courseForm.get('showOrder')?.invalid && courseForm.get('showOrder')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.showOrderIsRequired}}
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <div>
            <label class="block mb-1">{{Messages.Headers.courseImage}}</label>
            <input type="file" accept="image/*" (change)="onCourseImageSelect($event)">
            <div *ngIf="courseForm.get('courseImage')?.value || imagePreviewUrl">
                <img [src]="courseImageUrl" class="h-24 mt-2">
            </div>

            <div *ngIf="courseForm.get('courseImageFile')?.invalid && courseForm.get('courseImageFile')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.courseImageIsRequired}}
            </div>
        </div>

        <div>
            <label class="block mb-1">{{Messages.Headers.courseCoverImage}}</label>
            <input type="file" accept="image/*" (change)="onCourseCoverImageSelect($event)">
            <div *ngIf="courseForm.get('courseCoverImage')?.value || imageCoverPreviewUrl">
                <img [src]="courseCoverImageUrl" class="h-24 mt-2">
            </div>

            <div *ngIf="courseForm.get('courseCoverImageFile')?.invalid && courseForm.get('courseCoverImageFile')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.courseImageIsRequired}}
            </div>
        </div>

    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <div>
            <label class="block mb-1">{{Messages.Headers.courseVideo}}</label>
            <input type="file" accept="video/*" (change)="onVideoSelect($event)">
            <div *ngIf="courseForm.get('courseVideo')?.value || videoPreviewUrl">
                <video [src]="courseVideoUrl" controls class="h-32 mt-2"></video>
            </div>

            <div *ngIf="courseForm.get('courseVideoFile')?.invalid && courseForm.get('courseVideoFile')?.touched"
                class="text-red-600 text-sm mt-1">
                {{Messages.Errors.courseVideoFileIsRequired}}
            </div>
        </div>
    </div>

    <!-- Sessions -->
    <div>
        <h2 class="text-lg font-semibold mb-2">{{Messages.Headers.sessions}}</h2>

        <div class="mb-2">
            <button type="button" (click)="addSession()"
                class="cursor-pointer bg-green-600 text-white px-4 py-1 rounded hover:bg-green-700">
                + {{Messages.Buttons.addSession}}
            </button>
        </div>

        <div class="overflow-x-auto">
            <table class="w-full min-w-max table-auto border border-gray-300">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="border px-4 py-2 w-16">{{Messages.TableHeaders.id}}</th>
                        <th class="border px-4 py-2 w-32">{{Messages.TableHeaders.sessionNumber}}</th>
                        <th class="border px-4 py-2">{{Messages.TableHeaders.title}}</th>
                        <th class="border px-4 py-2">{{Messages.TableHeaders.description}}</th>
                        <th class="border px-4 py-2">{{Messages.TableHeaders.downloadLink}}</th>
                        <th class="border px-4 py-2 w-16">{{Messages.Buttons.delete}}</th>
                    </tr>
                </thead>
                <tbody formArrayName="sessions">
                    <tr *ngFor="let session of sessions.controls; let i = index" [formGroupName]="i">
                        <td class="border px-2 py-1">
                            <input type="number" formControlName="id"
                                class="w-20 border rounded px-2 py-1 text-center cursor-not-allowed" readonly>
                        </td>
                        <td class="border px-2 py-1">
                            <input type="number" formControlName="number"
                                class="w-20 border rounded px-2 py-1 text-center">
                            <div *ngIf="session.get('number')?.invalid && session.get('number')?.touched"
                                class="text-red-600 text-xs mt-1">
                                {{Messages.Errors.sessionNumberIsRequired}}
                            </div>
                        </td>
                        <td class="border px-2 py-1">
                            <input type="text" formControlName="title" class="w-full border rounded px-2 py-1">
                            <div *ngIf="session.get('title')?.invalid && session.get('title')?.touched"
                                class="text-red-600 text-xs mt-1">
                                {{Messages.Errors.sessionTitleIsRequired}}
                            </div>
                        </td>
                        <td class="border px-2 py-1">
                            <input type="text" formControlName="description" class="w-full border rounded px-2 py-1">
                        </td>
                        <td class="border px-2 py-1">
                            <input type="text" formControlName="downloadLink" class="w-full border rounded px-2 py-1"
                                dir="ltr">
                            <div *ngIf="session.get('downloadLink')?.invalid && session.get('downloadLink')?.touched"
                                class="text-red-600 text-xs mt-1">
                                {{Messages.Errors.sessionDownloadLinkIsRequired}}
                            </div>
                        </td>
                        <td class="border px-2 py-1">
                            <button type="button" (click)="deleteSession(i)"
                                class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600">
                                {{Messages.Buttons.delete}}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="hasDuplicateSessionNumber" class="text-red-600 text-sm mt-2">
            {{Messages.Errors.duplicateSessionNumber}}
        </div>
    </div>

    <div class="pt-4">
        <button type="submit" class="cursor-pointer bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700">
            {{Messages.Buttons.save}}
        </button>
    </div>
</form>