<h1 class="text-xl lg:text-2xl font-bold mb-6">{{Messages.Headers.loginCodes}}</h1>

<div class="p-6">
    <div class="overflow-x-auto mb-8">
        <table class="min-w-full border border-gray-300">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.code}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.phoneNumber}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.userId}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.createDate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let code of loginCodes; let i = index" class="hover:bg-gray-300"
                    [ngClass]="{ 'bg-white': i % 2 === 0, 'bg-gray-100': i % 2 !== 0 }">
                    <td class="px-4 py-2 border">{{ code.code }}</td>
                    <td class="px-4 py-2 border">{{ code.phoneNumber }}</td>
                    <td class="px-4 py-2 border">{{ code.userId }}</td>
                    <td class="px-4 py-2 border">{{ code.dateCreated | jalaliDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 🔢 Pagination -->
    <hw-pagination [pageNumber]="filters.pageNumber" [pageSize]="filters.pageSize" [totalCount]="totalCount"
        (pageChange)="onPageChange($event)">
    </hw-pagination>
</div>