<h1 class="text-xl lg:text-2xl font-bold mb-6">{{Messages.Headers.supportVideos}}</h1>

<div class="p-6 space-y-6">
    <div class="overflow-x-auto">
        <div class="mb-2 p-4">
            <a type="button" [routerLink]="['/mazmon/support-videos/video-detail']"
                class="bg-green-600 text-white px-4 py-1 rounded hover:bg-green-700">
                + {{Messages.Buttons.addVideo}}
            </a>
        </div>

        <table class="min-w-full border border-gray-300">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.id}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.title}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.videoType}}</th>
                    <th class="px-4 py-2 border">{{Messages.Headers.actions}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let video of supportVideos; let i = index" class="hover:bg-gray-300"
                    [ngClass]="{ 'bg-white': i % 2 === 0, 'bg-gray-100': i % 2 !== 0 }">
                    <td class="px-4 py-2 border">{{ video.id }}</td>
                    <td class="px-4 py-2 border">{{ video.title }}</td>
                    <td class="px-4 py-2 border">
                        <span [ngSwitch]="video.videoType">
                            <span *ngSwitchCase="0"
                                class="text-custom-600">{{Messages.Labels.sampleSupportVideo}}</span>
                            <span *ngSwitchCase="1" class="text-green-800">{{Messages.Labels.supportVideo}}</span>
                        </span>
                    </td>
                    <td class="px-4 py-2 border border-gray-800 text-center text-blue-600">
                        <a [routerLink]="['/mazmon/support-videos/video-detail', video.id]">{{Messages.TableHeaders.edit}}
                        </a>
                        <a (click)="openDeleteConfirmationModal(video.id)"
                            class="cursor-pointer text-red-800 mr-4">{{Messages.Buttons.delete}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 🔢 Pagination -->
    <hw-pagination [pageNumber]="filters.pageNumber" [pageSize]="filters.pageSize" [totalCount]="totalCount"
        (pageChange)="onPageChange($event)">
    </hw-pagination>
</div>

<!-- Delete Confirmation Modal -->
<div *ngIf="isDeleteConfirmationModalOpen"
    class="fixed inset-0 z-49 flex items-center justify-center bg-[rgba(31,41,55,0.5)]"
    (click)="closeDeleteConfirmationModal()">

    <!-- Modal content container -->
    <div class="relative bg-white rounded-lg shadow-lg w-full max-w-md p-6" (click)="$event.stopPropagation()">

        <!-- Modal header -->
        <div class="flex items-center justify-between border-b border-gray-200 pb-3 mb-5">
            <h3 class="text-xl text-gray-900">
                {{ Messages.Headers.areYouSure }}
            </h3>
            <button type="button" class="text-gray-400 hover:text-gray-900 rounded-lg focus:outline-none"
                (click)="closeDeleteConfirmationModal()" aria-label="Close modal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>

        <!-- Modal body -->
        <div class="text-gray-700 text-center mb-6">
            <p>{{ Messages.Warnings.confirmDeleteVideo }}</p>
        </div>

        <!-- Modal footer / buttons -->
        <div class="flex justify-end space-x-4">
            <button (click)="closeDeleteConfirmationModal()"
                class="cursor-pointer px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 rounded-lg transition duration-200">
                {{ Messages.Buttons.cancel }}
            </button>

            <button (click)="deleteVideo()"
                class="cursor-pointer px-4 py-2 bg-custom-600 hover:bg-custom-700 text-white font-semibold rounded-lg shadow-md transition duration-200">
                {{ Messages.Buttons.delete }}
            </button>
        </div>
    </div>
</div>