<h1 class="text-xl lg:text-2xl font-bold mb-6">{{Messages.Headers.supportVideos}}</h1>

<div class="p-6 space-y-6">
    <div class="overflow-x-auto">
        <div class="mb-2 p-4">
            <a type="button" [routerLink]="['/mazmon/support-videos/video-detail']"
                class="bg-green-600 text-white px-4 py-1 rounded hover:bg-green-700">
                + {{Messages.Buttons.addVideo}}
            </a>
        </div>

        <table class="min-w-full border border-gray-300">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.id}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.title}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.videoType}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.edit}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let video of supportVideos; let i = index" class="hover:bg-gray-300"
                    [ngClass]="{ 'bg-white': i % 2 === 0, 'bg-gray-100': i % 2 !== 0 }">
                    <td class="px-4 py-2 border">{{ video.id }}</td>
                    <td class="px-4 py-2 border">{{ video.title }}</td>
                    <td class="px-4 py-2 border">
                        <span [ngSwitch]="video.videoType">
                            <span *ngSwitchCase="0"
                                class="text-custom-600">{{Messages.Labels.sampleSupportVideo}}</span>
                            <span *ngSwitchCase="1" class="text-green-800">{{Messages.Labels.supportVideo}}</span>
                        </span>
                    </td>
                    <td class="px-4 py-2 border border-gray-800 text-center text-blue-600"><a
                            [routerLink]="['/mazmon/support-videos/video-detail', video.id]">{{Messages.TableHeaders.edit}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 🔢 Pagination -->
    <hw-pagination [pageNumber]="filters.pageNumber" [pageSize]="filters.pageSize" [totalCount]="totalCount"
        (pageChange)="onPageChange($event)">
    </hw-pagination>
</div>