<div class="relative w-3/4 max-w-6xl mx-auto overflow-hidden mt-2">
    <div class="flex items-center justify-center mb-12">
        <div class="max-w-full sm:w-full md:max-w-3xl lg:max-w-4xl xl:max-w-6xl" dir="rtl">
            <div class="flex mb-6 mt-10 overflow-x-auto scrollbar-hide">
                <button *ngFor="let label of labels" (click)="filterCards(label)" [ngClass]="{
                            'cursor-pointer bg-custom-800 text-white hover:bg-custom-700': selectedLabel === label, 
                            'cursor-pointer bg-custom-100 text-black hover:bg-custom-400 hover:text-white': selectedLabel !== label 
                        }"
                    class="px-6 py-2 rounded-full bg-custom-100 hover:bg-custom-400 hover:text-white focus:outline-none flex-shrink-0 mr-4 last:mr-0">
                    {{ label }}
                </button>
            </div>

            <div class="grid grid-cols-1 mt-4">
                <div *ngFor="let card of filteredCards" class="w-full p-4">
                    <div
                        class="flex flex-col w-full items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row hover:bg-custom-200">
                        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
                            src="https://flowbite.com/docs/images/blog/image-4.jpg" alt="">
                        <div class="flex flex-col w-full justify-between p-4 leading-normal pl-10">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{
                                card.title }}</h5>
                            <p class="mb-3 font-normal text-gray-700">{{ card.description }}</p>

                            <div class="flex justify-end mt-4">
                                <button
                                    class="px-4 py-2 text-white bg-custom-700 rounded-lg hover:bg-custom-800 cursor-pointer ml-2">
                                    {{Messages.Buttons.preview}}
                                </button>
                                <button
                                    class="px-4 py-2 text-white bg-custom-400 rounded-lg hover:bg-custom-500 cursor-pointer">
                                    {{Messages.Buttons.purchase}}
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>