<h1 class="text-xl lg:text-2xl font-bold mb-6">{{Messages.Headers.userList}}</h1>

<div class="p-6">
    <!-- 🔍 Filters -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
        <input type="text" [placeholder]="Messages.TableHeaders.id" class="border rounded p-2 w-full"
            [(ngModel)]="filters.id" (keydown.enter)="loadUsers()" />

        <input type="text" [placeholder]="Messages.TableHeaders.firstName" class="border rounded p-2 w-full"
            [(ngModel)]="filters.firstName" (keydown.enter)="loadUsers()" />

        <input type="text" [placeholder]="Messages.TableHeaders.lastName" class="border rounded p-2 w-full"
            [(ngModel)]="filters.lastName" (keydown.enter)="loadUsers()" />

        <input type="text" [placeholder]="Messages.TableHeaders.phoneNumber" class="border rounded p-2 w-full"
            [(ngModel)]="filters.phoneNumber" (keydown.enter)="loadUsers()" hwNormalizePhone />

        <input type="text" [placeholder]="Messages.TableHeaders.domain" class="border rounded p-2 w-full"
            [(ngModel)]="filters.domain" (keydown.enter)="loadUsers()" />

        <div>
            <label for="isActiveSelect" class="text-sm block mb-1">{{Messages.TableHeaders.status}}</label>
            <select id="isActiveSelect" [(ngModel)]="filters.isActive" class="border rounded p-2 w-full">
                <option [ngValue]="undefined">{{Messages.Buttons.all}}</option>
                <option [ngValue]="true">{{Messages.Labels.active}}</option>
                <option [ngValue]="false">{{Messages.Labels.inactive}}</option>
            </select>
        </div>

        <div>
            <label for="isConactSelect" class="text-sm block mb-1">{{Messages.TableHeaders.contact}}</label>
            <select id="isConactSelect" [(ngModel)]="filters.isContactAdded" class="border rounded p-2 w-full">
                <option [ngValue]="undefined">{{Messages.Buttons.all}}</option>
                <option [ngValue]="true">{{Messages.Labels.contactIsAdded}}</option>
                <option [ngValue]="false">{{Messages.Labels.contactIsNotAdded}}</option>
            </select>
        </div>
    </div>

    <!-- 🔘 Buttons -->
    <div class="flex mb-4">
        <button class="cursor-pointer bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 ml-4"
            (click)="loadUsers()">
            {{Messages.Buttons.search}}
        </button>

        <button class="cursor-pointer bg-gray-300 px-4 py-2 rounded hover:bg-gray-400 ml-4" (click)="resetFilters()">
            {{Messages.Buttons.reset}}
        </button>

        <button class="cursor-pointer bg-yellow-100 px-4 py-2 rounded hover:bg-yellow-200" (click)="addContacts()">
            {{addContactButtonText}}
        </button>
    </div>

    <!-- 📋 Table -->
    <div class="overflow-x-auto mb-6">
        <table class="min-w-full border border-gray-300">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.id}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.firstName}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.lastName}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.phoneNumber}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.domain}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.status}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.hostStatus}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.contact}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.increaseBalance}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.edit}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index" class="hover:bg-gray-300"
                    [ngClass]="{ 'bg-white': i % 2 === 0, 'bg-gray-100': i % 2 !== 0 }">
                    <td class="px-4 py-2 border">{{ user.id }}</td>
                    <td class="px-4 py-2 border">{{ user.firstName }}</td>
                    <td class="px-4 py-2 border">{{ user.lastName }}</td>
                    <td class="px-4 py-2 border">{{ user.phoneNumber }}</td>
                    <td class="px-4 py-2 border">{{ user.domain }}</td>
                    <td class="px-4 py-2 border">
                        <span [ngClass]="user.isActive ? 'text-green-600' : 'text-red-600'">
                            {{ user.isActive ? Messages.Labels.active : Messages.Labels.inactive }}
                        </span>
                    </td>
                    <td class="px-4 py-2 border">
                        <span [ngSwitch]="user.hostStatus">
                            <span *ngSwitchCase="0">{{Messages.Labels.selfHost}}</span>
                            <span *ngSwitchCase="1">{{Messages.Labels.supportHost}}</span>
                            <span *ngSwitchCase="2">{{Messages.Labels.noHostYet}}</span>
                        </span>
                    </td>
                    <td class="px-4 py-2 border">
                        <span [ngClass]="user.isContactAdded ? 'text-green-600' : 'text-red-600'">
                            {{ user.isContactAdded ? Messages.Labels.contactIsAdded : Messages.Labels.contactIsNotAdded
                            }}
                        </span>
                    </td>
                    <td class="px-4 py-2 border border-gray-800 text-center text-blue-600">
                        <a *ngIf="user.isActive" class="cursor-pointer"
                            (click)="openIncreaseBalanceModal(user.id)">{{Messages.TableHeaders.increaseBalance}}</a>
                    </td>

                    <td class="px-4 py-2 border border-gray-800 text-center text-blue-600"><a
                            [routerLink]="[user.id]">{{Messages.TableHeaders.edit}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 🔢 Pagination -->
    <hw-pagination [pageNumber]="filters.pageNumber" [pageSize]="filters.pageSize" [totalCount]="totalCount"
        (pageChange)="onPageChange($event)">
    </hw-pagination>
</div>

<!-- Increase Balance Modal -->
<div *ngIf="isIncreaseBalanceModalOpen"
    class="fixed inset-0 z-49 flex items-center justify-center bg-[rgba(31,41,55,0.5)]"
    (click)="closeIncreaseBalanceModal()">

    <!-- Modal content container -->
    <div class="relative bg-white rounded-lg shadow-lg w-full max-w-md p-6" (click)="$event.stopPropagation()">

        <!-- Modal header -->
        <div class="flex items-center justify-between border-b border-gray-200 pb-3 mb-5">
            <h3 class="text-xl text-gray-900">
                {{ Messages.Buttons.increaseBalance }}
            </h3>
            <button type="button" class="text-gray-400 hover:text-gray-900 rounded-lg focus:outline-none"
                (click)="closeIncreaseBalanceModal()" aria-label="Close modal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>

        <!-- Modal body -->
        <div class="text-gray-700 text-center mb-6">
            <label for="amount" class="block text-sm font-medium text-gray-700 mb-4 text-center">
                {{Messages.Labels.increaseBalanceDesc}}
            </label>
            <input type="text" hwAmount id="amount" [(ngModel)]="amount" name="amount" dir="ltr"
                class="text-center bg-gray-50 border outline-custom-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full p-2.5"
                [placeholder]="Messages.Labels.desiredAmountPlaceholder" />

            <div *ngIf="amountInvalid" class="text-red-600 text-sm mt-1">
                {{Messages.Errors.invalidAmount}}
            </div>
        </div>

        <!-- Modal footer / buttons -->
        <div class="flex justify-end">
            <button (click)="closeIncreaseBalanceModal()"
                class="cursor-pointer px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 rounded-lg transition duration-200 ml-4">
                {{ Messages.Buttons.cancel }}
            </button>

            <button (click)="increaseBalance()"
                class="cursor-pointer px-4 py-2 bg-custom-600 hover:bg-custom-700 text-white font-semibold rounded-lg shadow-md transition duration-200">
                {{ Messages.Buttons.confirm }}
            </button>
        </div>
    </div>
</div>