<hw-carousel></hw-carousel>
<hw-text-divider id="courses" [title]="Messages.Headers.courses" [hasLink]="true"
    [linkText]="Messages.Headers.seeAllCourses" [linkRoute]="'courses'"></hw-text-divider>
<hw-card-list [cards]="courses"></hw-card-list>
<hw-jumbotron></hw-jumbotron>
<div class="flex justify-center gap-4 my-12">
    <hr class="w-8 h-8 bg-custom-300 border-0 rounded-sm dark:bg-gray-800 transform rotate-45">
    <hr class="w-8 h-8 bg-custom-400 border-0 rounded-sm dark:bg-gray-800 transform rotate-45">
    <hr class="w-8 h-8 bg-custom-500 border-0 rounded-sm dark:bg-gray-800 transform rotate-45">
</div>
<hw-text-divider [title]="Messages.Headers.students" [hasLink]="true" [linkText]="Messages.Headers.seeAllComments"
    [linkRoute]="'testimonials'"></hw-text-divider>
<hw-card-carousel [cards]="testimonials"></hw-card-carousel>
<hw-projects-section [title]="Messages.Headers.newProjects" [hasLink]="true"
    [linkText]="Messages.Headers.seeAllProjects"></hw-projects-section>
<hw-text-divider [title]="Messages.Headers.order"></hw-text-divider>
<hw-order-project-form id="order-project"></hw-order-project-form>