<ul class="flex flex-wrap text-sm font-medium text-center text-gray-900 border-b border-custom-300">
    <li class="ml-2 rounded-t-lg cursor-pointer" [ngClass]="{
        'text-custom-700 bg-gray-200 font-extrabold': activeTab === 'general',
        'border-2 border-custom-300': activeTab !== 'general'
      }">
        <button (click)="activeTab = 'general'" class="inline-block p-4 cursor-pointer">
            {{Messages.Titles.userGeneralInfo}}
        </button>
    </li>

    <li class="ml-2 rounded-t-lg cursor-pointer" [ngClass]="{
        'text-custom-700 bg-gray-200 font-extrabold': activeTab === 'transaction',
        'border-2 border-custom-300': activeTab !== 'transaction'
      }">
        <button (click)="activeTab = 'transaction'" class="inline-block p-4 cursor-pointer">
            {{Messages.Titles.transactions}}
        </button>
    </li>
        </button>
    </div>

</ul>

<!-- Tab Content -->
<div class="mt-6">
    <hw-user-general-info [userId]="userId" *ngIf="activeTab === 'general'"></hw-user-general-info>
    <hw-user-transactions [userId]="userId" *ngIf="activeTab === 'transaction'"></hw-user-transactions>
</div>