<p>dashboard-header works!</p>
<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 shadow-md">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button type="button"
                    class="cursor-pointer inline-flex items-center p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                    (click)="onToggleSidebar()">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                        </path>
                    </svg>
                </button>
                <a href="/" class="flex ms-2 md:me-24">
                    <img [src]="baseUrl + '/uploads/utilities/logo.png'" class="h-8 me-3" alt="Hardworker Logo" />
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap">
                        {{Messages.Headers.hardworker}}
                    </span>
                </a>
            </div>
            <div class="flex items-center">
                <div class="flex items-center ms-3 ml-1 sm:ml-3 relative">
                    <div>
                        <button type="button" #dropdownButton
                            class="cursor-pointer flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300"
                            aria-expanded="false" (click)="toggleDropdown()">
                            <span class="sr-only">Open user menu</span>
                            <img class="w-8 h-8 rounded-full bg-white"
                                [src]="userInfo.avatarImage && userInfo.avatarImage.trim() !== '' ? baseUrl + '/uploads/avatars/' + userInfo.avatarImage : baseUrl + '/uploads/utilities/avatar.png'"
                                alt="user photo">
                        </button>
                    </div>
                    <div *ngIf="showDropdown" #dropdownMenu
                        class="absolute left-0 top-6 z-50 my-4 min-w-fit w-auto whitespace-nowrap list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm"
                        id="dropdown-user">
                        <div class="px-4 py-3" role="none">
                            <p class="text-sm text-custom-700 mb-2" role="none">
                                {{userInfo.firstName}} {{userInfo.lastName?? ''}}
                            </p>
                            <p class="text-sm font-semibold truncate text-custom-700" role="none">
                                {{jwtHelperService.getUser()?.username}}
                            </p>
                        </div>
                        <ul class="py-1" role="none">
                            <li>
                                <a [routerLink]="['/dashboard/user-info']"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
                                    {{Messages.Headers.personalInfo}}
                                </a>
                            </li>
                            <li>
                                <a (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                    role="menuitem">
                                    {{Messages.Headers.logout}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>