<div class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-sm p-4 bg-white border border-custom-200 rounded-lg shadow-lg sm:p-6 md:p-8">
        <div class="flex justify-center mb-4">
            <img [src]="baseUrl + '/uploads/utilities/logo.png'" [alt]="Messages.Alts.logoAlt" class="w-20 h-20">
        </div>

        <form>
            <h5 class="text-xl font-bold text-gray-900 mb-4">
                {{ Messages.Headers.login }}
            </h5>

            <label for="phoneNumber" class="block mb-2 text-sm font-small text-gray-900">
                {{ Messages.Labels.enterPhoneNumber }}
            </label>

            <div class="relative mb-4">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-custom-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M2.003 5.884a1 1 0 0 1 .117-1.405l2.223-1.928a1 1 0 0 1 1.43.11l1.64 1.966a1 1 0 0 1-.068 1.35l-.979.98a13.042 13.042 0 0 0 5.293 5.293l.98-.98a1 1 0 0 1 1.35-.068l1.966 1.64a1 1 0 0 1 .11 1.43l-1.928 2.223a1 1 0 0 1-1.405.117 15.978 15.978 0 0 1-9.729-9.729Z" />
                        </svg>
                    </div>

                    <input type="tel" id="username" [(ngModel)]="login.username" name="username" dir="ltr"
                        class="bg-gray-50 border border-custom-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full ps-10 p-2.5 mt-6"
                        placeholder="09123456789">
                </div>
            </div>

            <label for="password" class="block mb-2 text-sm font-small text-gray-900">
                {{ Messages.Labels.password }}
            </label>

            <div class="relative mb-4">
                <div class="relative">
                    <input type="password" id="password" [(ngModel)]="login.password" name="password" dir="ltr"
                        class="bg-gray-50 border border-custom-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full ps-10 p-2.5 mt-6">
                </div>
            </div>

            <button
                class="w-full text-white bg-custom-700 hover:bg-custom-800 focus:ring-4 focus:outline-none focus:ring-custom-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer mt-3"
                (click)="loginUser()">{{ Messages.Headers.login }}</button>
        </form>

    </div>
</div>