<h1 class="text-xl lg:text-2xl font-bold mb-6">{{Messages.Headers.withdrawalRequests}}</h1>

<div class="p-6 space-y-6">
    <!-- 🔍 Filters -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <input type="text" [placeholder]="Messages.TableHeaders.id" class="border rounded p-2 w-full"
            [(ngModel)]="filters.userId" />

        <input type="text" [placeholder]="Messages.TableHeaders.phoneNumber" class="border rounded p-2 w-full"
            [(ngModel)]="filters.userPhoneNumber" />
    </div>

    <!-- 🔘 Buttons -->
    <div class="flex space-x-4">
        <button class="cursor-pointer bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            (click)="loadWithdrawalRequests()">
            {{Messages.Buttons.search}}
        </button>

        <button class="cursor-pointer bg-gray-300 px-4 py-2 rounded hover:bg-gray-400" (click)="resetFilters()">
            {{Messages.Buttons.reset}}
        </button>
    </div>

    <!-- 📋 Table -->
    <div class="overflow-x-auto">
        <table class="min-w-full border border-gray-300">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.id}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.userId}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.userPhoneNumber}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.amount}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.status}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.dateRequested}}</th>
                    <th class="px-4 py-2 border">{{Messages.Headers.actions}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let withdrawalRequest of withdrawalRequests; let i = index" class="hover:bg-gray-300"
                    [ngClass]="{ 'bg-white': i % 2 === 0, 'bg-gray-100': i % 2 !== 0 }">
                    <td class="px-4 py-2 border">{{ withdrawalRequest.id }}</td>
                    <td class="px-4 py-2 border">{{ withdrawalRequest.userId }}</td>
                    <td class="px-4 py-2 border">{{ withdrawalRequest.userPhoneNumber }}</td>
                    <td class="px-4 py-2 border">{{ withdrawalRequest.amount | number:'1.0-0' }}</td>
                    <td class="px-4 py-2 border">
                        <span [ngSwitch]="withdrawalRequest.withdrawalRequestStatus">
                            <span *ngSwitchCase="0" class="text-yellow-500">{{Messages.Labels.pending}}</span>
                            <span *ngSwitchCase="1" class="text-red-800">{{Messages.Labels.rejected}}</span>
                            <span *ngSwitchCase="1" class="text-green-800">{{Messages.Labels.confirmed}}</span>
                        </span>
                    </td>
                    <td class="px-4 py-2 border"> {{withdrawalRequest.dateRequested | jalaliDate}}</td>

                    <td class="cursor-pointer px-4 py-2 border border-gray-800 text-center text-blue-600">
                        <div class="flex justify-center">
                            <a *ngIf="withdrawalRequest.withdrawalRequestStatus === 0"
                                class="bg-green-800 text-white px-3 py-2 text-sm ml-2">{{Messages.Buttons.confirm}}</a>
                            <a *ngIf="withdrawalRequest.withdrawalRequestStatus === 0"
                                class="bg-red-800 text-white px-3 py-2 text-sm ml-2">{{Messages.Buttons.reject}}</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 🔢 Pagination -->
    <hw-pagination [pageNumber]="filters.pageNumber" [pageSize]="filters.pageSize" [totalCount]="totalCount"
        (pageChange)="onPageChange($event)">
    </hw-pagination>
</div>