<h1 class="text-xl lg:text-2xl font-bold mb-6">{{Messages.Headers.withdrawalRequests}}</h1>

<div class="p-6 space-y-6">
    <!-- 🔍 Filters -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <input type="text" [placeholder]="Messages.TableHeaders.id" class="border rounded p-2 w-full"
            [(ngModel)]="filters.userId" />

        <input type="text" [placeholder]="Messages.TableHeaders.phoneNumber" class="border rounded p-2 w-full"
            [(ngModel)]="filters.userPhoneNumber" />
    </div>

    <!-- 🔘 Buttons -->
    <div class="flex space-x-4">
        <button class="cursor-pointer bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            (click)="loadWithdrawalRequests()">
            {{Messages.Buttons.search}}
        </button>

        <button class="cursor-pointer bg-gray-300 px-4 py-2 rounded hover:bg-gray-400" (click)="resetFilters()">
            {{Messages.Buttons.reset}}
        </button>
    </div>

    <!-- 📋 Table -->
    <div class="overflow-x-auto">
        <table class="min-w-full border border-gray-300">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.id}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.userId}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.userPhoneNumber}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.amount}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.status}}</th>
                    <th class="px-4 py-2 border">{{Messages.TableHeaders.dateRequested}}</th>
                    <th class="px-4 py-2 border">{{Messages.Headers.actions}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let withdrawalRequest of withdrawalRequests; let i = index" class="hover:bg-gray-300"
                    [ngClass]="{ 'bg-white': i % 2 === 0, 'bg-gray-100': i % 2 !== 0 }">
                    <td class="px-4 py-2 border">{{ withdrawalRequest.id }}</td>
                    <td class="px-4 py-2 border">{{ withdrawalRequest.userId }}</td>
                    <td class="px-4 py-2 border">{{ withdrawalRequest.userPhoneNumber }}</td>
                    <td class="px-4 py-2 border">{{ withdrawalRequest.amount | number:'1.0-0' }}</td>
                    <td class="px-4 py-2 border">
                        <span [ngSwitch]="withdrawalRequest.withdrawalRequestStatus">
                            <span *ngSwitchCase="0" class="text-yellow-500">{{Messages.Labels.pending}}</span>
                            <span *ngSwitchCase="1" class="text-red-800">{{Messages.Labels.rejected}}</span>
                            <span *ngSwitchCase="2" class="text-green-800">{{Messages.Labels.confirmed}}</span>
                        </span>
                    </td>
                    <td class="px-4 py-2 border"> {{withdrawalRequest.dateRequested | jalaliDate}}</td>

                    <td class="cursor-pointer px-4 py-2 border border-gray-800 text-center text-blue-600">
                        <div class="flex justify-center">
                            <a *ngIf="withdrawalRequest.withdrawalRequestStatus === 0"
                                class="bg-green-800 text-white px-3 py-2 text-sm ml-2"
                                (click)="openConfirmWithdrawalRequestModal(withdrawalRequest.id)">{{Messages.Buttons.confirm}}</a>
                            <a *ngIf="withdrawalRequest.withdrawalRequestStatus === 0"
                                class="bg-red-800 text-white px-3 py-2 text-sm ml-2"
                                (click)="openRejectWithdrawalRequestModal(withdrawalRequest.id)">{{Messages.Buttons.reject}}</a>
                            <a *ngIf="withdrawalRequest.withdrawalRequestStatus === 2"
                                class="bg-custom-600 text-white px-3 py-2 text-sm ml-2"
                                (click)="openReceiptModal(withdrawalRequest.receiptImage)">{{Messages.Buttons.viewReceipt}}</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 🔢 Pagination -->
    <hw-pagination [pageNumber]="filters.pageNumber" [pageSize]="filters.pageSize" [totalCount]="totalCount"
        (pageChange)="onPageChange($event)">
    </hw-pagination>
</div>

<!-- Reject Request Modal -->
<div *ngIf="isRejectWithdrawalRequestModalOpen"
    class="fixed inset-0 z-49 flex items-center justify-center bg-[rgba(31,41,55,0.5)]"
    (click)="closeRejectWithdrawalRequestModal()">

    <!-- Modal content container -->
    <div class="relative bg-white rounded-lg shadow-lg w-full max-w-md p-6" (click)="$event.stopPropagation()">

        <!-- Modal header -->
        <div class="flex items-center justify-between border-b border-gray-200 pb-3 mb-5">
            <h3 class="text-xl text-gray-900">
                {{ Messages.Headers.areYouSure }}
            </h3>
            <button type="button" class="text-gray-400 hover:text-gray-900 rounded-lg focus:outline-none"
                (click)="closeRejectWithdrawalRequestModal()" aria-label="Close modal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>

        <!-- Modal body -->
        <div class="text-gray-700 text-center mb-6">
            <p>{{ Messages.Warnings.confirmRejectRequest }}</p>
        </div>

        <!-- Modal footer / buttons -->
        <div class="flex justify-end space-x-4">
            <button (click)="closeRejectWithdrawalRequestModal()"
                class="cursor-pointer px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 rounded-lg transition duration-200">
                {{ Messages.Buttons.cancel }}
            </button>

            <button (click)="rejectWithdrawalRequest()"
                class="cursor-pointer px-4 py-2 bg-custom-600 hover:bg-custom-700 text-white font-semibold rounded-lg shadow-md transition duration-200">
                {{ Messages.Buttons.rejectRequest }}
            </button>
        </div>
    </div>
</div>

<!-- Confirm Request Modal -->
<div *ngIf="isConfirmWithdrawalRequestModalOpen"
    class="fixed inset-0 z-49 flex items-center justify-center bg-[rgba(31,41,55,0.5)]"
    (click)="closeConfirmWithdrawalRequestModal()">

    <!-- Modal content container -->
    <div class="relative bg-white rounded-lg shadow-lg w-full max-w-md p-6" (click)="$event.stopPropagation()">

        <!-- Modal header -->
        <div class="flex items-center justify-between border-b border-gray-200 pb-3 mb-5">
            <h3 class="text-xl text-gray-900">
                {{ Messages.Headers.confirmWithdrawalRequest }}
            </h3>
            <button type="button" class="text-gray-400 hover:text-gray-900 rounded-lg focus:outline-none"
                (click)="closeConfirmWithdrawalRequestModal()" aria-label="Close modal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>

        <!-- Modal body -->
        <div class="text-gray-700 text-center mb-6">
            <!-- Image Upload -->
            <div class="mb-4">
                <div class="flex items-center space-x-4">
                    <label for="receiptImage"
                        class="cursor-pointer px-4 py-2 bg-custom-500 text-white rounded-lg text-sm font-medium hover:bg-custom-400">
                        {{Messages.Buttons.selectReceiptImage}}
                    </label>
                    <span id="fileName" class="text-gray-700 text-sm"></span>
                </div>


                <input type="file" id="receiptImage" name="receiptImage" (change)="onImageSelected($event)"
                    accept="image/*" class="hidden" />

                <div *ngIf="imageInvalid" class="text-red-600 text-sm mt-1">
                    {{Messages.Errors.receiptImageInvalid}}
                </div>
            </div>
        </div>

        <!-- Modal footer / buttons -->
        <div class="flex justify-end space-x-4">
            <button (click)="closeConfirmWithdrawalRequestModal()"
                class="cursor-pointer px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 rounded-lg transition duration-200">
                {{ Messages.Buttons.cancel }}
            </button>

            <button (click)="confirmWithdrawalRequest()"
                class="cursor-pointer px-4 py-2 bg-custom-600 hover:bg-custom-700 text-white font-semibold rounded-lg shadow-md transition duration-200">
                {{ Messages.Buttons.confirmRequest }}
            </button>
        </div>
    </div>
</div>

<!-- View Receipt Modal -->
<div *ngIf="isReceiptModalOpen" class="fixed inset-0 z-49 flex items-center justify-center bg-[rgba(31,41,55,0.5)]"
    (click)="closeReceiptModal()">

    <!-- Modal content container -->
    <div class="relative bg-white rounded-lg shadow-lg w-full max-w-md p-6" (click)="$event.stopPropagation()">

        <!-- Modal header -->
        <div class="flex items-center justify-between border-b border-gray-200 pb-3 mb-5">
            <h3 class="text-xl text-gray-900">
                {{ Messages.Buttons.viewReceipt }}
            </h3>
            <button type="button" class="text-gray-400 hover:text-gray-900 rounded-lg focus:outline-none"
                (click)="closeReceiptModal()" aria-label="Close modal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>

        <!-- Modal body -->
        <div class="text-gray-700 text-center mb-6">
            <div *ngIf="selectedWithdrawalRequestReceipt">
                <img [src]="selectedWithdrawalRequestReceipt" class="h-full mt-2">
            </div>
        </div>


        <!-- Modal footer / buttons -->
        <div class="flex justify-end space-x-4">
            <button (click)="closeReceiptModal()"
                class="cursor-pointer px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 rounded-lg transition duration-200">
                {{ Messages.Buttons.cancel }}
            </button>
        </div>
    </div>
</div>