<div class="flex items-center justify-center w-3/4 mx-auto">
    <div class="w-full md:w-1/2">
        <blockquote class="text-l font-semibold text-gray-900 mr-0">
            <svg class="w-6 md:w-8 lg:w-10 h-6 md:h-8 lg:h-10 text-custom-400 mb-4" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
                <path
                    d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
            </svg>
            <p class="text-sm md:text-md lg:text-lg">{{Messages.Headers.orderProjectDesc}}</p>
        </blockquote>

        <form class="mx-auto mt-10">
            <div class="mb-5">
                <label for="fullname" class="block mb-2 text-sm font-medium text-gray-900">
                    {{Messages.Labels.fullName}}
                </label>
                <input type="text" id="fullName" name="fullName" [(ngModel)]="message.fullName"
                    [placeholder]="Messages.Labels.fullName"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full p-2.5"
                    required>

                <div *ngIf="fullNameInvalid" class="text-red-600 text-sm mt-1">
                    {{Messages.Errors.fullNameInvalid}}
                </div>
            </div>
            <div class="mb-5">
                <label for="phone-number" class="block mb-2 text-sm font-medium text-gray-900">
                    {{Messages.Labels.phoneNumber}}
                </label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 19 18">
                            <path
                                d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z" />
                        </svg>
                    </div>
                    <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="message.phoneNumber"
                        aria-describedby="helper-text-explanation"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full ps-10 p-2.5"
                        placeholder="09123456789" required />
                </div>
                <div *ngIf="phoneNumberInvalid" class="text-red-600 text-sm mt-1">
                    {{Messages.Errors.phoneNumberInvalid}}
                </div>
            </div>
            <div class="mb-5">
                <label for="order-description" class="block mb-2 text-sm font-medium text-gray-900">
                    {{Messages.Labels.description}}
                </label>
                <textarea id="messageText" name="messageText" [(ngModel)]="message.messageText" rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-custom-500 focus:border-custom-500"
                    [placeholder]="Messages.Labels.descriptionPlaceholder"></textarea>

                <div *ngIf="messageTextInvalid" class="text-red-600 text-sm mt-1">
                    {{Messages.Errors.messageTextInvalid}}
                </div>
            </div>
            <button (click)="submitMessage()"
                class="cursor-pointer text-white bg-custom-700 hover:bg-custom-800 focus:ring-4 focus:outline-none focus:ring-custom-300 rounded-lg text-sm md:text-md font-semibold px-5 py-2.5 text-center">
                {{Messages.Buttons.submitOrder}}
            </button>
        </form>
    </div>
    <div class="w-full md:w-1/2 mt-5 hidden md:block">
        <img [src]="baseUrl + '/uploads/utilities/order.png'" alt="Descriptive Alt Text"
            class="w-full h-auto rounded-lg">
    </div>
</div>