<div class="min-h-screen flex flex-col items-center justify-center px-4">
    <h1 class="text-xl md:text-3xl font-bold text-gray-800 mb-4">{{Messages.Errors.notFoundTitle}}</h1>
    <img [src]="baseUrl + '/uploads/utilities/not-found.gif'" alt="404 Not Found"
        class="w-full max-w-md mt-0 mb-2 rounded-xl" />
    <p class="text-lg text-gray-600 mb-10 text-center max-w-md">
        {{Messages.Errors.notFoundMessage}}
    </p>
    <a routerLink="/"
        class="inline-block px-6 py-3 bg-custom-600 text-white text-sm font-semibold rounded-xl shadow hover:bg-custom-700 transition duration-300">
        {{Messages.Buttons.returnHome}}
    </a>
</div>