<div class="flex items-center justify-center mt-4">
    <button class="px-3 py-1 rounded bg-gray-200 hover:bg-gray-300 ml-2" (click)="changePage(pageNumber - 1)"
        [disabled]="pageNumber === 1">
        {{Messages.Buttons.previous}}
    </button>

    <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
        <button class="px-3 py-1 rounded ml-2"
            [ngClass]="pageNumber === (i + 1) ? 'bg-blue-500 text-white' : 'bg-gray-200 hover:bg-gray-300'"
            (click)="changePage(i + 1)">
            {{ i + 1 }}
        </button>
    </ng-container>

    <button class="px-3 py-1 rounded bg-gray-200 hover:bg-gray-300 ml-2" (click)="changePage(pageNumber + 1)"
        [disabled]="pageNumber === totalPages">
        {{Messages.Buttons.next}}
    </button>
</div>