/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
    --color-custom-100: #FFFFFF;
    --color-custom-200: #F6F7F9;
    --color-custom-300: #F2F0FA;
    --color-custom-400: #7A65E5;
    --color-custom-500: #655DD6;
    --color-custom-600: #4751C2;
    --color-custom-700: #2143A7;
    --color-custom-800: #0E3C9A;
    --color-custom-900: #003792;
    --color-custom-950: #0D1A33;

    --color-yellow-50: #ecdc8e;
    --color-yellow-100: #FFC008;
    --color-yellow-200: #e8ac09;

    --color-telegram-100: #00bcd4;
    --color-telegram-200: #00a6e5;
    --color-telegram-300: #0088cc;

    --color-whatsapp-100: #25d366;
    --color-whatsapp-200: #128c7e;
    --color-whatsapp-300: #075e54;

    --color-soroush-100: #00b0f0;
    --color-soroush-200: #0054a6;
    --color-soroush-300: #003366;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Vazirmatn-FD', sans-serif;
    font-feature-settings: "locl";
}

/* Toasts */
.toast-container {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    z-index: 9999 !important;
}

.ngx-toastr {
    display: flex !important;
    align-items: center;
    gap: 12px;
    padding: 16px 20px;
    border-right: 6px solid;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #2c3e50;
    background-color: #fff;
    animation: slideIn 0.4s ease-out;
}

.toast-body {
    display: flex;
}

.toast-text {
    margin-top: 10px;
}

.toast-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
}

.toast-message {
    font-size: 14px;
}

.toast-success {
    border-right: 5px solid #2ecc71 !important;
}

.success-toastr-header {
    color: #2ecc71 !important;
}

.toast-error {
    border-right: 5px solid #e74c3c !important;
}

.error-toastr-header {
    color: #e74c3c !important;
}

.toast-warning {
    border-right: 5px solid #f39c12 !important;
}

.warning-toastr-header {
    color: #f39c12 !important;
}

.toast-info {
    border-right: 5px solid #3498db !important;
}

.info-toastr-header {
    color: #3498db !important;
}

.toast-icon {
    font-size: 24px;
    margin-left: 14px;
    display: flex;
    align-items: center;
}

/* Slide-in animation */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}