<div
    class="bg-white border border-gray-200 rounded-2xl shadow hover:shadow-lg transition-shadow overflow-hidden flex flex-col h-full">
    <!-- Project Image -->
    <img class="w-full h-48 object-cover" [src]="baseUrl + '/uploads/projects/images/' + project.projectImage"
        alt="{{ project.title }}" />

    <!-- Card Content -->
    <div class="p-5 flex flex-col justify-between flex-1">
        <div>
            <!-- Title -->
            <h3 class="text-xl font-bold text-gray-900">{{ project.title }}</h3>

            <!-- Description -->
            <p class="text-gray-600 mt-2 line-clamp-2 text-sm min-h-[45px]">{{ project.description }}</p>

            <hr class="mb-4 mt-3 border-gray-300" />
            <!-- Info Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 text-sm text-gray-700 pt-1">
                <div>
                    <span class="font-medium text-gray-900">{{ Messages.Labels.price }}: </span>
                    <span *ngIf="project.projectStatus == 1; else noPriceInfo">{{ project.price | number: '1.0-0' }} {{
                        Messages.Headers.toman }}
                    </span>
                    <ng-template #noPriceInfo>
                        <span class="px-2 py-0.5 rounded text-sm font-medium text-yellow-700 bg-yellow-100">{{
                            Messages.Labels.inProgress }}</span>
                    </ng-template>
                </div>

                <div>
                    <span class="font-medium text-gray-900">{{ Messages.Labels.status }}: </span>
                    <span class="px-2 py-0.5 rounded text-sm font-medium" [ngClass]="{
              'text-yellow-700 bg-yellow-100': project.projectStatus == 0,
              'text-green-700 bg-green-100': project.projectStatus == 1
            }">
                        {{ project.projectStatus == 0 ? Messages.Labels.inProgress : Messages.Labels.confirmed }}
                    </span>
                </div>
            </div>

            <!-- Links -->
            <div class="flex gap-3 flex-wrap pt-6">
                <a *ngIf="project.previewLink" [href]="project.previewLink" target="_blank"
                    class="inline-block px-4 py-2 text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 rounded transition">
                    {{ Messages.Buttons.preview }}
                </a>

                <a *ngIf="project.downloadLink" [href]="project.downloadLink" target="_blank"
                    class="inline-block px-4 py-2 text-sm font-medium text-white bg-green-600 hover:bg-green-700 rounded transition">
                    {{ Messages.Headers.download }}
                </a>
            </div>
        </div>

        <!-- Fixed-height action area -->
        <div class="mt-1 h-10">
            <button (click)="editProject(project)"
                class="cursor-pointer w-full inline-flex justify-center items-center px-4 py-2 text-sm font-semibold rounded-md transition"
                [ngClass]="{
              'bg-custom-700 hover:bg-custom-800 focus:ring-2 focus:ring-offset-2 focus:ring-custom-300 text-white': project.projectStatus == 0,
              'bg-custom-300 hover:bg-custom-300': project.projectStatus == 1
            }">
                {{ Messages.Buttons.edit }}
            </button>
        </div>

        <hr class="mb-4 mt-1 border-gray-300" />

        <!-- Footer Section -->
        <div class="min-h-[35px]">
            <div class="h-full flex flex-col md:flex-row md:justify-between text-sm text-gray-600 gap-2 md:gap-6 items-center"
                *ngIf="project.projectStatus == 1;  else noPurchaseInfo">
                <div>
                    <span class="font-medium">{{ Messages.Labels.purchasedCount }}:</span>
                    {{ project.purchasedCount }}
                </div>
                <div>
                    <span class="font-medium">{{ Messages.Labels.totalPurchased }}:</span>
                    {{ project.totalPurchasedUserShare | number:'1.0-0' }}
                    <span class="ml-1">{{ Messages.Headers.toman }}</span>
                </div>
            </div>

            <ng-template #noPurchaseInfo>
                <div class="h-full flex w-full text-yellow-800 bg-yellow-50 text-xs p-2 rounded-md items-center">
                    <svg class="shrink-0 w-4 h-4 self-center ml-1" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" stroke="#92400E">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M12 16.99V17M12 7V14M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                stroke="#92400E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </g>
                    </svg>

                    {{Messages.Warnings.projectInfoShownAfterConfirmation}}
                </div>
            </ng-template>
        </div>
    </div>
</div>