<form class="mx-auto">
    <!-- Avatar Section -->
    <div class="flex flex-col items-center mb-10">
        <div class="relative w-28 h-28">
            <img [src]="userInfo.avatarImage && userInfo.avatarImage.trim() !== '' ? baseUrl + '/uploads/avatars/' + userInfo.avatarImage : baseUrl + '/uploads/utilities/avatar.png'"
                alt="Avatar" class="rounded-full w-full h-full object-cover border-2 border-gray-300">
            <label for="avatarUpload"
                class="absolute bottom-0 right-0 bg-custom-600 hover:bg-custom-700 text-white p-2 rounded-full cursor-pointer">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L7 21H3v-4L16.732 3.732z">
                    </path>
                </svg>
            </label>
            <input id="avatarUpload" type="file" (change)="onAvatarSelect($event)" class="hidden" />
        </div>
        <p class="text-sm text-gray-500 mt-2">
            {{Messages.Labels.avatarDesc}}
        </p>
    </div>

    <!-- Form Fields -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
        <div class="mb-5">
            <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900">
                {{Messages.Labels.firstName}}
            </label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="userInfo.firstName"
                class="shadow-xs bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full p-2.5"
                [placeholder]="Messages.Labels.firstNamePlaceholder" />
        </div>

        <div class="mb-5">
            <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900">
                {{Messages.Labels.lastName}}
            </label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="userInfo.lastName"
                class="shadow-xs bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full p-2.5"
                [placeholder]="Messages.Labels.lastNamePlaceholder" />
        </div>

        <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">
                {{Messages.Labels.email}}
            </label>
            <input type="email" id="email" name="email" [(ngModel)]="userInfo.email"
                class="shadow-xs bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full p-2.5"
                [placeholder]="Messages.Labels.emailPlaceholder" />

            <div *ngIf="emailInvalid" class="text-red-600 text-sm mt-1">
                {{Messages.Errors.invalidEmail}}
            </div>
        </div>

        <div class="mb-5">
            <label for="cardNumber" class="block mb-2 text-sm font-medium text-gray-900">
                {{Messages.Labels.cardNumber}}
            </label>
            <input type="text" id="cardNumber" name="cardNumber" [(ngModel)]="userInfo.cardNumber"
                (input)="onCardNumberChange($event)"
                class="shadow-xs bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-custom-500 focus:border-custom-500 block w-full p-2.5"
                [placeholder]="Messages.Labels.cardNumberPlaceholder" maxlength="16" />

            <div *ngIf="cardNumberInvalid" class="text-red-600 text-sm mt-1">
                {{Messages.Errors.invalidCardNumber}}
            </div>
        </div>

        <div class="mb-5 sm:col-span-2">
            <label for="biography" class="block mb-2 text-sm font-medium text-gray-900">
                {{Messages.Labels.biography}}
            </label>
            <textarea id="biography" rows="4" name="biography" [(ngModel)]="userInfo.biography"
                class="block p-2.5 w-full text-sm bg-white rounded-lg border border-gray-300 focus:ring-custom-500 focus:border-custom-500"
                [placeholder]="Messages.Labels.biographyPlaceholder" maxlength="500"></textarea>

            <div class="text-sm text-gray-600 mt-1">
                {{ userInfo.biography?.length || 0 }} / {{Messages.Labels.fiveHundredChars}}
            </div>

            <div *ngIf="biographyInvalid" class="text-red-600 text-sm mt-1">
                {{Messages.Errors.invalidBiography}}
            </div>
        </div>
    </div>

    <!-- Save Button -->
    <div class="mt-6 text-left">
        <button
            class="w-auto text-white bg-custom-700 hover:bg-custom-800 focus:ring-4 focus:outline-none focus:ring-custom-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer mt-3"
            (click)="saveUserInfo()">{{ Messages.Buttons.save }}</button>
    </div>
</form>